<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('partials/header') %> 
  </head>
  <body>
    <%- include('partials/navigation.ejs') %>  
    <main class="container vh-100 pt-2 d-flex text-center justify-content-center align-items-center">
      <section class="display-8">
        <h1 class="display-1">Añade libro</h1>
        
        
      </section>
    </main>


  </body>
</html>